@import url("styles.css");

body {
    padding: 0 20px;
}

.aktivitätenliste{
    padding-left: 0;
}

.aktivitätenliste li{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--secondary-color);
    padding: 10px 0;
}

.aktivitätenliste .small-button-delete{
 margin-right: 0;
}

body select, body input{
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    padding: 1px 2px;
}

/* Popup */
.underheader-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    align-items: end;
}

.underheader-container input{
 padding: 1px 2px;
 height: 20px; 
 width: 55%;
 
}

.aktivitätUndDauer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 50vw;
}

.aktivitätUndDauer select{
    margin-bottom: 10px;
}

.anwesenheitslisteEintraege div {
    margin-bottom: 5px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: fit-content;
}