@import url("styles.css");

body{
    overflow: scroll;
}

.head{
    text-shadow: none;
}

.head2{
    color: white;
}

.mitglieder-positionen{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.mitglieder-positionen h3{
    margin: 0;
    margin-bottom: 10px;
}

.mitglieder-positionen p {
    text-align: left;
    margin: 2px 0;
    padding-left: 40px;
}

.gruppenInhalt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.gruppenName {
    color: white;
    width: auto;
    justify-content: left;
    align-items: center;
    margin: 0;
    display: flex;
    position: relative;
    margin-bottom: 10px;
    min-width: 100px;
}

h3 {
    margin: 0;
}

.gruppenMitglieder {
    text-align: left;
    color: white;
    padding: 20px 0;
}

.gruppenMitglieder h3 {
    margin: 0;
    margin-bottom: 10px;
}

.gruppenMitglieder ul {
    margin: 0;
}

.gruppenMitglieder ul li{
    margin: 2px 0;
}

.gruppenContainer {
    width: 85vw;
    border-top: 1px solid #1c1f2b;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    justify-content: center;
}

/* Dropdown für Wettkampfgruppen-Positionen */
#positionenContainer {
    margin-top: 20px;
    background-color: transparent;
}

#positionenContainer h3 {
    margin-bottom: 10px;
    background-color: transparent;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

.heading-left{
    position: relative;
    left: 130%;
    top: 20px;
}

.heading-right{
    position: relative;
    left: 345%;
    top: 20px;
}

.head {
    display: flex;
    justify-content: center;  /* Zentriert das h1 */
    align-items: center;      /* Vertikal zentriert */
    position: relative;       /* Ermöglicht die Verwendung von absoluten Positionen */
    width: 100%;              /* Nutzt die volle Breite des Containers */    
    text-shadow: 1px 1px 0px crimson, -1px -1px 0px red, 1px -1px 0px orangered, -1px 1px 0px crimson;
}

.mitgliederZuordnungContainer {
    padding: 10px 0;
}

.mitgliederZuordnungContainer h3 {
    padding-bottom:  5px;
    padding-top: 20px;
}

.positionVerwaltung {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.positionVerwaltung div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
    border-bottom: 1px solid black;
}

.gruppenSpecification div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gruppenSpecification {
    display: flex;
    flex-direction: column;
}

.gruppenSpecification select, .gruppenSpecification input {
    margin-right: 10px;
}

.button-container{
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}