@import url("styles.css");

.landing-content{
  display: flex;
  flex-direction: column;
  height: 65vh;
}

.c-landing-card{
  margin: auto auto;
  padding: 1em;
  width: 70vw;
  background: var(--light-secondary-color);
  border-radius: 10px;
  position: relative;
  color: var(--primary-color);
  text-decoration: none;
  font-size: xx-large;
  text-align: center;
  align-content: center;
}
  
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.c-landing-card::after, .landing-card::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), darkblue, aqua, darkblue, darkblue, darkblue, aqua, darkblue, darkblue);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}

.c-landing-card::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}