@import url("styles.css");

/* Tabellenstil */
.mitgliederTabelle {
  width: 100%; /* Tabelle passt sich der Bildschirmbreite an */
  border-collapse: collapse;
  table-layout: auto; /* Automatische Anpassung der Zellenbreite */
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
  border-bottom: 1px solid var(--secondary-color);

}

td {
  border-bottom: 1px solid var(--secondary-color);

}

thead {
  width: 100%; /* Entferne diese Zeile, da die automatische Anpassung erfolgt */
  background-color: var(--light-secondary-color);
}

td button {
    border-radius: 100px;
    border: solid var(--primary-color) 1px;
    height: 38px;
    width: 38px;
    justify-content: center;
    align-items: center;
    fill: var(--primary-color);
    background-color: transparent;

}

.mitglied-löschen{
    background-color: transparent;
    border: solid 1px var(--red);
    fill: var(--red);
    margin: 5px;
}

.mitglied-löschen:hover{
  background-color: var(--red);
  fill: var(--secondary-color);
}

.mitglied-bearbeiten{
  background-color: transparent;
  fill: var(--primary-color);
  margin: 5px;
}


.mitglied-bearbeiten:hover{
  background-color: var(--primary-color);
  fill: var(--secondary-color);
}

h1 {
    top: 30px;
    max-width: 100vw; /* Maximal so breit wie der Bildschirm */
    white-space: nowrap; /* Verhindert, dass der Text umgebrochen wird */
  }

.table-border {
  background: var(--light-secondary-color);
  position: relative;
  color: var(--primary-color);
  width: 100%; /* Breite anpassen, damit sie sich an die Bildschirmgröße anpasst */
}
  
  @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .table-border::after, .table-border::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), darkblue, aqua, darkblue, darkblue, darkblue, aqua, darkblue, darkblue);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 15s spin linear infinite;
  }
  .table-border::before{
    filter: blur(1.5rem);
    opacity: 0.5;
  }
  @keyframes spin{
    from{
      --angle: 0deg;
    }
    to{
      --angle: 360deg;
    }
  }

  input{
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    fill: var(--primary-color);
    justify-self: right;
  }

  .div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
  }

  .div-rechts {
    padding-left: auto;
  }

  .div input{
    justify-self: space-between;
    margin-bottom: 10px;
  }

  .div label{
    font-weight: bold;
  }

  .aktionen{
text-align: center;
display: flex;
justify-content: space-between;
  }


  .add-button {
    background-color: transparent;
    fill: var(--primary-color);
    border: transparent;
    color: var(--primary-color);
    align-self: start;
    
}
