:root{
  --primary-color: white;
  --secondary-color: slategray;
  --light-secondary-color: #1c1f2b;
  --red: red;
  --green: green;
}


/* Allgemeine Stile */
body {
  font-family: 'Bebas Neue', sans-serif;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
  padding: 0 30px;
  margin: 0;
  position: relative;
}

body::before,
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../bilder/polygonal-hintergrund-design_1164-112.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1; /* Damit das Hintergrundbild hinter dem Inhalt bleibt */
}

body::before {
  transform: rotate(0deg); /* Normal */
}

body::after {
  transform: rotate(180deg); /* Um 180° gedreht */
  top: 100%; /* Damit es unter dem ersten Bild positioniert ist */
}


.head {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;       
  width: 100%;             
  font-size: 3vw;
  color: var(--primary-color);
}

.head button {
  position: absolute;
  left: 10px;
}

.head2 {
  text-align: center;
  color: var(--primary-color);
}

